name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    permissions:
      # This permission is required for trusted publishing with PyPI
      id-token: write
      # This permission is required for checkout
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish
